
@{
    ViewBag.Title = "MemberEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Member Entry</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>MemberInfo</h2>
                    @*<ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>*@
                </div>
                <div class="x_content"></div>
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Step 1<br />
                                    <small>Step 1 description</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Step 2<br />
                                    <small>Step 2 description</small>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                    MemberID
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="txtMId" required="required" class="form-control-sm" style="width:40%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                    MemberName  
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="txtMName" name="ID" required="required" class="form-control-sm" style="width:40%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Password</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="txtMpassword" class="form-control-sm " type="text" name="password" style="width:40%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">PhoneNumber</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="txtMPh" style="width:40% " name="phoneno" class="form-control-sm ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">JoinDate</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="txtMJoin" type="date" style="width:40%" name="joindate" class="form-control-sm ">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2">
                        <div class="col-md-6">
                            <table id="tblUser" style="padding-left:0px;">
                                <thead>
                                    <tr>
                                        <td>PageName</td>
                                        <td>CanRead</td>
                                        <td>CanEdit</td>
                                        <td>CanDelete</td>                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div><br /></div>
                    <div> <br /></div>

                    <div class="actionBar">
                        <div>
                            <a href="#" class="buttonFinish buttonDisabled btn btn-default" id="btnFinish">Finish</a>
                            <a href="#" class="buttonNext btn btn-success">Next</a>
                            <a href="#" class="buttonPrevious buttonDisabled btn btn-primary">Previous</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnFinish").click(function () {
                var Umodel = {
                    MemberID: $('#txtMId').val(),
                    MemberName: $('#txtMName').val(),
                    Password: $('#txtMpassword').val(),
                    PhoneNo: $('#txtMPh').val(),
                    JoinDate: $('#txtMJoin').val()
                }
                $.ajax({
                    url: '@Url.Action("SP_Insert_MemberEntry", "api/UserApi")',
                    type: 'POST',
                    dataType: 'json',
                    data: Umodel,
                    headers:
                    {
                        Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                    },
                    success: function (result) {

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                })
            });



        });
    </script>
    }





























































